{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content%}



<table class="table">
  <thead>
    <tr>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col">글 제목</th>
      <th class="col">작성자</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr style="vertical-align: middle;">
      <th class="col-1 align-center">{{ forloop.counter }}</th>
      {% if review.thumbnail %}
        <th class="col-2"><img class="rounded-4" src="{{ review.thumbnail.url }}" alt="{{ review.thumbnail }}"></th>
      {% else %}
        <th class="col-2"><img class="rounded-4" src="https://via.placeholder.com/120x96/" alt="{{ review.thumbnail }}"></th>
      {% endif %}
      <th class="col-7">
        <a href="{% url 'reviews:detail' review.pk %}" class="text-decoration-none text-dark">
          {{ review.title }}
        </a>
      </th>
      <th class="col-2">{{ review.user }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}