{% extends 'base.html' %}
{% block content %}

{% for user in users %}
<hr>
<p><a class="text-decoration-none text-dark fs-3" href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>

<p>
  {{ user.email }}
</p>
<p>팔로잉  <span id="following-count">{{ user.followings.count }}</span> / 
  팔로워 <span id="follow-count">{{ user.followers.count }}</span></p>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followBtn = document.querySelector('#follow-btn')
  followBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({
      method : 'get',
      url: `/accounts/${event.target.dataset.userId}/follow/`
    })
    .then(response => {
      console.log(response)
      console.log(response.data)
      if (response.data.isfollowed === true) {
        event.target.classList.add('btn-danger')
        event.target.classList.remove('btn-primary')
        followBtn.innerText = 'follow'
      } else {
        event.target.classList.add('btn-primary')
        event.target.classList.remove('btn-danger')
        followBtn.innerText = 'unfollow'
      }
      const followCount = document.querySelector('#follow-count')
      followCount.innerText = response.data.followCount
      const followingCount = document.querySelector('#following-count')
      followingCount.innerText = response.data.followingCount
    })
  })
</script>
{% endblock %}