{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<a href="{% url 'accounts:logout' %}">로그아웃</a>
{% else %}
<a href="{% url 'accounts:login' %}">로그인</a>
<a href="{% url 'accounts:signup' %}">회원가입</a>
{% endif %}
{% for user in users %}
<a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
<p>{{ user.last_name}}{{ user.first_name}}</p>
<p>{{ user.email }}</p>
<p>{{ user.followings.count}}/{{ user.followers.count }}</p>
{% endfor %}

{% endblock %}